/**
 * Styles for yellow text with red backgrounds
 */
.red-inverse {
  color: $color-red-inverse-text;

  a {
    color: $color-red-inverse-link;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-red-inverse-heading;
  }

  .btn {
    background-color: $color-red-inverse-btn-bg;
    border-color: $color-red-inverse-btn-border;
    color: $color-red-inverse-btn;
  }

  .btn--secondary {
    background-color: $color-red-inverse-btn-alt-bg;
    border-color: $color-red-inverse-btn-alt-border;
    color: $color-red-inverse-btn-alt;
  }

  .btn--clear {
    background: 0;
    color: $color-red-inverse-btn-clear;
  }
}

/**
 * Styles for red text with yellow backgrounds
 */
 .yellow-inverse {
  color: $color-yellow-inverse-text;

  a {
    color: $color-yellow-inverse-link;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-yellow-inverse-heading;
  }

  .btn {
    background-color: $color-yellow-inverse-btn-bg;
    border-color: $color-yellow-inverse-btn-border;
    color: $color-yellow-inverse-btn;
  }

  .btn--secondary {
    background-color: $color-yellow-inverse-btn-alt-bg;
    border-color: $color-yellow-inverse-btn-alt-border;
    color: $color-yellow-inverse-btn-alt;
  }

  .btn--clear {
    background: 0;
    color: $color-yellow-inverse-btn-clear;
  }
}


/**
 * Styles for yellow text with blue backgrounds
 */
 .blue-inverse {
  color: $color-blue-inverse-text;

  a {
    color: $color-blue-inverse-link;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-blue-inverse-heading;
  }

  .btn {
    background-color: $color-blue-inverse-btn-bg;
    border-color: $color-blue-inverse-btn-border;
    color: $color-blue-inverse-btn;
  }

  .btn--secondary {
    background-color: $color-blue-inverse-btn-alt-bg;
    border-color: $color-blue-inverse-btn-alt-border;
    color: $color-blue-inverse-btn-alt;
  }

  .btn--clear {
    background: 0;
    color: $color-blue-inverse-btn-clear;
  }
}